{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block inContainer %}
<h1>Welcome to BopTunes!</h1>
<br>
<br>

{% if user.isArtist() %}

<p1>isArtist</p1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Song Title</th>
            <th scope="col">Album Title</th>
            <th scope="col">Genre</th>
            <th scope="col">Avg Rating</th>
        </tr>
    </thead>
    <tbody>
        {% if 0 > 0 %}
            {% for songName, albumName, genre, rating in table %}

                <p1>balls</p1>

            {% endfor %}


        {% endif %}
    </tbody>
</table>



{% else %}

<p1>is not Artist</p1>

{% endif %}

{% endblock %}